﻿@model todo_app_lib.Models.ToDoList

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


    <h4>@Model.Name</h4>
<button class="btn btn-link" id="hide-btn" onclick="changeViewStyle()">Hide Completed Items</button>
    <div class="d-flex justify-content-start flex-wrap align-items-center" style="width: 100%;">

        @foreach (var entry in Model.ToDoEntries)
        {
            <div class="d-flex justify-content-around" align-items-center>
                @{await Html.RenderPartialAsync("ToDoEntry", entry);
                }

            </div>
            if (entry.Status != "Completed")
            {
                if (entry.Status == "Not Started")
                {
                    <form asp-action="StartTask" asp-route-id="@entry.Id" asp-route-listId="@Model.Id">
                        <input type="submit" value="Start" class="btn btn-outline-primary" />
                    </form>
                }

                else if (entry.Status == "In Progress")
                {
                    <form asp-action="CompleteTask" asp-route-id="@entry.Id" asp-route-listId="@Model.Id">
                        <input type="submit" value="Finish" class="btn btn-success" />
                    </form>
                }
            }
        }


    </div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{ 
    <script >
        function changeViewStyle() {
            const cards = document.getElementsByClassName("card");
            const button = document.getElementById("hide-btn");

            if (button.textContent == "Hide Completed Items") {
                button.textContent = "Show Completed Items";
            }
            else button.textContent = "Hide Completed Items";

            for (let i = 0; i < cards.length; ++i) {
                if (cards[i].classList.contains("completed")) {
                    if (cards[i].style.display != "none") {
                        cards[i].style.display = "none";
                    }
                    else {
                        cards[i].style.display = "flex";
                    }
                }
            }
        }
    </script>
}
