﻿@model todo_app_lib.Models.ToDoList

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ToDoList</h4>
<hr />
<div>
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <a asp-action="AddEntry" asp-route-id="@Model.Id">Add New Task</a>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <div class="d-flex justify-content-around flex-wrap align-items-center" style="width: 100%;">
            @foreach (var entry in Model.ToDoEntries)
            {
                string statusColor;
                switch (entry.Status)
                {
                    case "Not Started":
                        statusColor = "text-danger";
                        break;
                    case "In Progress":
                        statusColor = "text-warning";
                        break;
                    case "Completed":
                        statusColor = "text-success";
                        break;
                    default:
                        statusColor = "text-muted";
                        break;
                }

                <div class="card m-2" style="width: 25rem;">
                    <div class="card-body">
                        <h5 class="card-title">@entry.Title</h5>
                        <p class="card-text">@entry.Description</p>
                        <h6 class="card-subtitle mb-2 text-muted">Due Date: @entry.DueDate.ToString("MMMM dd")</h6>
                        <h6 class="card-subtitle mb-2 @statusColor">Task Status: @entry.Status</h6>
                        <div class="d-flex justify-content-between" style="width: 45%">
                            <a asp-action="EditEntry" asp-route-id="@entry.Id" class="btn btn-primary">Edit</a>
                            <form asp-action="DeleteEntry" asp-route-id="@entry.Id" , asp-route-listId="@Model.Id">
                                <input type="submit" value="Delete" class="btn btn-danger" />
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
