﻿@model IEnumerable<todo_app_lib.Models.ToDoList>

@{
    ViewData["Title"] = "Index";
}

<h1>ToDo Lists</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Number of tasks
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToDoEntries.Count)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Expand</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <form asp-action="CopyList" asp-route-id="@item.Id">
                        <input type="submit" value="Make a copy" class="btn btn-link" />
                    </form>
                </td>
            </tr>
    }
    </tbody>
</table>
<div>
    <h2>Today's Tasks</h2>
    @{ bool tasksDueToday = false;}
    @foreach (var item in Model)
    {
        if (item.ToDoEntries.FirstOrDefault(item => item.DueDate.Date == DateTime.Now.Date) != null)
        {
            <h3>@item.Name</h3>
            foreach (var entry in item.ToDoEntries)
            {
                if (entry.DueDate.Date == DateTime.Now.Date)
                {
                <div class="d-flex align-items-md-center justify-content-center">
                    @{tasksDueToday = true;
                        }
                        @{await Html.RenderPartialAsync("ToDoEntry", entry);
                        }

                    @if (entry.Status != "Completed")
                    {
                        if (entry.Status == "Not Started")
                        {
                            <form asp-action="StartTask" asp-route-id="@entry.Id" asp-route-listId="@item.Id">
                                <input type="submit" value="Start" class="btn btn-outline-primary" />
                            </form>
                        }

                        else if (entry.Status == "In Progress")
                        {
                            <form asp-action="CompleteTask" asp-route-id="@entry.Id" asp-route-listId="@item.Id">
                                <input type="submit" value="Finish" class="btn btn-success" />
                            </form>
                        }
                    }
                </div>
                }
            }
        }
    }

    @if (!tasksDueToday)
    {
        <h3>No tasks due today</h3>
    }
</div>
