﻿@model todo_app_lib.Models.ToDoEntry

@{
    string statusColor;
    string completedClass = Model.Status == "Completed" ? "completed" : "";
    switch (Model.Status)
    {
        case "Not Started":
            statusColor = "text-danger";
            break;
        case "In Progress":
            statusColor = "text-warning";
            break;
        case "Completed":
            statusColor = "text-success";
            break;
        default:
            statusColor = "text-muted";
            break;
    }
}
    <div class="card m-2 @completedClass" style="width: 50rem;">
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.Description</p>
            <h6 class="card-subtitle mb-2 text-muted">Due Date: @Model.DueDate.ToString("MMMM dd", CultureInfo.InvariantCulture)</h6>
            <h6 class="card-subtitle mb-2 @statusColor">Task Status: @Model.Status</h6>
        </div>
    </div>
